.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.inGame-button {
  background-color: skyblue;
  border: 1px solid #999;
  color: black;
  font-size: 16px;
  display: block;
  float: right;
  margin-left: 10px;
  margin-top: 30px;
  width: 100px;
  height: 20px;
  cursor: pointer;
}


.square:focus {
  outline: none;
}

.square.highlight {
  background: #ddd
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.game-info {
  margin-left: 20px;
}

.game-board {
  margin-right: 20px;
}

.game-status {
  margin-top: 25px;
  font-size: 20px;
}

.board-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.square.black {
  background-color: #000000;
  border: 1px solid #000000;
}

.square.white {
  background-color: #ffffff;
}

.square.gray {
  background-color: gray;
  border: 1px solid #000000;
}
